@section Breadcrumbs {
    <div class="bread-crumbs">
        <a class="toggle-menu" href="javascript:;"><i class="fas fa-bars"></i></a>
        <span>DELIVERY INDEX</span>
    </div>
}

<div class="fail-container">
    <p>There is/are <span>1</span> order(s) found which are delivered by this company.</p>
    <p>You can't delete this delivery company while those order(s) is/are dependent to this company.</p>
</div>
<a class="blue-button" asp-action="Index">back to index</a>