@model Delivery.DeliveryInsertUpdateViewModel;
@section Breadcrumbs {
    <div class="bread-crumbs">
        <a class="toggle-menu" href="javascript:;"><i class="fas fa-bars"></i></a>
        <span>DELIVERY INDEX / IF(INSERT or UPDATE) DELIVERY</span>
    </div>
}

<form method="post" class="upsert-form" action="">
    <input type="hidden" />
    <input type="hidden" />
    <table>
        <tbody>
            <tr>
                <td><label asp-for="CompanyName">Delivery's Company*</label></td>
                <td>
                    <input asp-for="CompanyName" id="companyName">
                    <span asp-validation-for="CompanyName" class="field-validation-error"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="Phone">Company's Phone</label></td>
                <td>
                    <input type="tel" id="phone" asp-for="Phone">
                </td>
            </tr>
            <tr>
                <td><label asp-for="Cost">Cost Per Delivery (Rp.)</label></td>
                <td>
                    <input asp-for="Cost" id="cost" type="number">
                    <span asp-validation-for="Cost" class="field-validation-error"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="blue-button" type="submit">if(Insert or Update) Delivery</button>
</form>