@model Account.AccountChangePasswordViewModel;
@using System.Security.Claims
@{
    string? username = User.FindFirst(ClaimTypes.NameIdentifier)?.Value??string.Empty;
}

@section Breadcrumbs {
    <div class="bread-crumbs">
        <a class="toggle-menu" href="javascript:;"><i class="fas fa-bars"></i></a>
        <span>CHANGE PASSWORD</span>
    </div>
}

<form method="post" class="upsert-form"> 
    <table>
        <tbody>
            <tr>
                <td><label asp-for="Username">Username</label></td>
                <td>
                    <span th:text="*{username}">@username</span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="OldPassword">Old Password*</label></td>
                <td>
                    <input type="password" asp-for="OldPassword">
                    <span asp-validation-for="OldPassword" class="field-validation-error">@ViewBag.Message</span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="NewPassword">New Password*</label></td>
                <td>
                    <input type="password" asp-for="NewPassword">
                    <span class="field-validation-error" asp-validation-for="NewPassword"></span>
                </td>
            </tr>
            <tr>
                <td><label asp-for="ConfirmPassword">New Password Confirmation*</label></td>
                <td>
                    <input type="password" asp-for="ConfirmPassword">
                    <span class="field-validation-error" asp-validation-for="ConfirmPassword"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="blue-button" type="submit">Change Password</button>
</form>