@section Breadcrumbs {
    <div class="bread-crumbs">
        <a class="toggle-menu" href="javascript:;"><i class="fas fa-bars"></i></a>
        <span>ORDER INDEX</span>
    </div>
}

<div class="fail-container">
    <p>There is/are <span>1</span> order detail(s) record found which are bought this order.</p>
    <p>You can't delete this order while those order detail(s) is/are dependent to this order.</p>
</div>
<a class="blue-button" asp-action="Index">back to index</a>